@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
$fruitColor:rgb(23, 82, 190);
$snakeColor:rgb(14, 100, 14);
$snakeBlColor: rgb(11, 65, 11);
$backgroundColor:rgb(10, 10, 10);
$fontFamily:'Share Tech', sans-serif;
$objShadow:0px 0px 10px 5px $snakeColor;
$txtSize:3vw;
*{
    margin: 0;
    padding: 0;
    font-family: $fontFamily;
}

body{
    background-color: $backgroundColor;
}

.navbar{
    display: grid;
    height: 70px;
    grid-auto-flow: column;
    .logo{
        width: fit-content;
        height: 70px;
        position: relative;
        right: 4vw;
        display: flex;
        align-items:center;
        .logo_name{
            color: White;
            font-size: 5vw;
        }
    }
    .github_icon{        
        max-width: 70px;
        grid-column-start: 1;
    }
}

.header{
    width: 100%;
    height: 6vw;
    background-color: rgb(168, 167, 167);
    display: flex;
    align-items: center;
    justify-content:space-around;
    .settings_bar{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .bar{
            // width: 50%;
            display: flex;
            flex-direction: column;

            .picker_header{
                font-size: $txtSize;
            }
            .picker{
                display: flex;
                justify-content: center;
                ul{
                    list-style: none;
                    display: flex;
                    gap: 1vw;
                    li{
                        border: 1px solid black;
                        height: 2vw;
                        width: 2vw;
                        border-radius: 100%;
                        background-color: green;
                        input{
                            position: relative;
                            width: 100%;
                            height: 2vw;
                            border: 0;
                            border-radius: 100%;
                            appearance: none;
                            transition: all 0.3s;
                        }
                        & :checked{
                            box-shadow: 0px 0px 10px 2px rgb(0, 0, 87);
                        }
                    }
                    & :nth-child(2){
                    background-color: rgb(208, 211, 14);
                    }
                    & :nth-child(3){
                    background-color: rgb(199, 15, 15);
                    }
                }
                                
            }

        }

    }

}

.game_wrapper{
    display: flex;
    justify-content: space-between;
    margin: 0.5vw;
    font-size: $txtSize;
    color: aliceblue;
    .info_side{
        flex: 3;
        display: flex;
        flex-direction: column;
        gap: 5vw;
        .info{
            & :nth-child(1){
            text-decoration: underline;
            }
        }
        
    }
    .game{
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 4vw;
        .input_side{
            width: 17vw;
            max-width: max-content;
            input{
                background-color: $backgroundColor;
                font-size: 2vw;
                color: #fff;
                border: 0;
                transition:0.5s;
                border-bottom: 0;
                outline: none;
                text-indent: 0.8vw;
                width: 93.5%;
            }
            input:focus{
                border: 0.05vw solid white;
                border-bottom: 0;
                padding:0.5vw;
                
            }
            input:focus ~ .underline{
                width:100%;      
            } 
            input:focus ~ button
            {
                transform: translateY(10%);                
            }
            .underline{
            display: block;
            margin-bottom: 0.3vw;
            width: 50%;
            height: 1px;
            background-color: #fff;
            position: relative;
            transition: 0.6s;
            }
            button{
                position: relative;
                width: 50%;
                border: 1px solid white;
                background-color: #fff;
                padding: 0.5vw;
                cursor:pointer;
                transition: transform 0.7s,border-color 0.1s;
            }
            button:hover{
                background-color:black;
                color: white;
            }
            button:active{
                border-color: green;
                // this can become red if the answer is wrong, but that needs to be done in js
            }
        }
        
    }
    .timer_container{
        flex: 3;
        .timer{
            transition: color 0.5s;
        }
    }
}

// this is made with js, appearAnimation function
@keyframes appear {
    100%{
        opacity: 1;
    }
    0%{
        opacity:0;
    }
}
@keyframes littleTime {
    100%{
        transform: translateY(3%);
    }
    0%{
        transform: translateY(0%);
    }
}
